[submodule "code/dipha"]
    path = code/external/dipha
    url = https://ubauer@bitbucket.org/ubauer/dipha.git
    ignore = dirty
[submodule "code/figtree"]
    path = code/external/figtree
    url = https://github.com/rkwitt/figtree.git
    ignore = dirty
[submodule "code/export_fig"]
    path = code/external/export_fig
    url = https://github.com/altmany/export_fig.git
    ignore = dirty
